// Typography

$base-font-size: 16px;
$base-line-height: $base-font-size * 1.5;

$font-family-sans-serif: Arial, sans-serif;
$font-family-serif: Georgia, serif;


// Color

$text-color: #999;
$link-color: #888;
$link-color-hover: #666;
